/* styling for LogIn.vue and SignIn.vue */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 2rem;
  width: 100%;
}

.log-in-content{
  width: 100%;
  height: 100%;
}

.log-in-card{
  display: flex;
  align-items: end;
}

.card-title {
  color: #dc3545;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: bold;
  justify-content: center;
}

.img-fluid {
  width: 100%;
}

.card-body form > * {
  margin-bottom: 0.3rem;
}

.btn-danger {
  width: 100%;
}

@media only screen and (max-width: 576px) {
  .img-fluid {
    display: none;
  }

  .card-body form > * {
    margin-bottom: 0.1rem;
  }
}
